services:
  postgres:
    image: postgres:latest
    container_name: postgres_ecom_new
    restart: always
    environment:
      POSTGRES_DB: ecommerce_2026
      POSTGRES_USER: ec
      POSTGRES_PASSWORD: ecommerce_pass
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    build: .
    container_name: backend_ecommerce_new
    restart: always
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
volumes:
  postgres_data: